/* width */
::-webkit-scrollbar {
  width: 5px;
}
::-moz-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-moz-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e4e6ef;
}
::-moz-scrollbar-thumb {
  background: #e4e6ef;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e4e6ef;
}
::-moz-scrollbar-thumb:hover {
  background: #e4e6ef;
}
